.footer{
    position: fixed;
    bottom: 0;
    height: 10vh;
    flex: 0.2;
    padding: 20px;
    height: 65px;
    width: 97%;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
}

.footer_middle {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  padding: 0 100px;
  color: white;
}

.footer_color{
    color: #1ed15e;
}

.footer_color:hover, .footer_icon:hover {
  transition: transform 200ms ease-in-out;
  transform: scale(1.2) !important;
}

.songLogo{
    object-fit: contain;
    height: 50px;
    width: 50px;
    margin:10px;
}

.footerSong{
  padding-right: 40px;
}

.footerSong > h4{
    margin-bottom: 5px;
}

.footerSong > p{
    font-size: 12px;
}

.footer_left{
    flex: 0.3;
    display: flex;
    width: 300px;
    align-items: center;
    color: white;
}

.footer_right {
  display: flex;
  align-items: center;
  color: white;
  flex: 0.3;
  justify-content: space-between;
  
}

.footer_right * .MuiSlider-root {
  color: green;
}