.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header_left {
  padding: 10px;
  border-radius: 30px;
  display: flex;
  background-color: white;
  min-width: 0px;
  color: gray;
  flex: 0.5;
  align-items: center;
}

.header_left > input {
  border: none;
  width: 100%;
}

.header_right {
  display: flex;
  align-items: center;
}


.header_right > h4 {
  margin-left: 10px;
}