.sidebarOption{
    color: gray;
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
}

.sidebarOption:hover{
    color: white;
}

.sidebarIcon{
    padding-left: 10px;
    padding-right: 10px;
}

.sidebarOption > p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}

